@import "tailwindcss";


/* @layer base{
  h1{
    font-size: 50px;
  }
  h2{
    font-size: 80px;
    color: red;
  }
} */

@layer base{
  h1{
    @apply text-3xl;

  }
  h2{
    @apply text-6xl text-blue-600 
  }
}
